* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 15px;
}

.board__row {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.board__title {
    margin-bottom: 40px;
    width: 250px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
    background-color:rgb(122, 219, 236)
}

.placeholder {
    padding: 30px;
    width: 250px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
}

.placeholder__new {
    position: relative;
}

.placeholder__new::before,
.placeholder__new::after {
    content: '';
    position: absolute;
    top: 15px;
    width: 15px;
    height: 1px;
    background-color: black;
    cursor: pointer;
}

.placeholder__new::after {
    transform: rotate(90deg);
}

.placeholder-new__add-task {
    display: none;
}

.add-task__text {
    margin-bottom: 10px;
    padding: 0.8rem 1rem;
    max-width: 90%;
    min-height: 50px;
    text-align: center;
    background-color: #84ecbf;
    border-radius: 20px;
    border: none;
}

.add-task__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 90%;
    min-height: 30px;
    background-color: #24f39a;
    border: none;
    border-radius: 15px;
}

.task {
    padding: 0.8rem 1rem;
    max-width: 90%;
    min-height: 60px;
    text-align: center;
    background-color: #84ecbf;
    border-radius: 20px;
    cursor: grab;
}

.task:active {
    cursor: grabbing;
}

.task_hold {
    border: 1px dotted grey;
}

.task_hide {
    display: none;
}

.placeholder_hovered {
    border: 1px solid slateblue;
};